.about-us{
    background-color: $white-color;
    padding: 100px 15px;
    @include spacebetween-flex;
    align-items:flex-start;
    .about-us__info{
        width: 40%;
        .box-container{
            @include spacebetween-flex;
            gap:10px;
            margin: 100px 0;
            .box-container__div{
                border-radius: 5px;
                padding: 3px;
                border: 1px solid $light-gray-color;
            }
        }
        h2:nth-child(1){
            font-size: 2rem;
            font-weight: bold;
            span{
                color: $orange-color;
            }
        }
        p{
            @extend .text-justify;
            @extend .mtb-10;
        }
    
        .btn{
            width: 30%;
            background-color: $orange-color;
            color: $white-color;
            &:hover{
                background-color: $orange-color-hover;
                border-color: $orange-border-color-hover;
            }
            @extend .mtb-20;
            margin: 0 auto;
        }
    
    }
    .about-us__img{
       width: 50%;
       @include column-flex;
       gap:15px;


      
       img{
        border-radius: 5px;
       }

       .about-us__img--first{
        display: flex;
        align-items: end;
        gap:15px;


        :nth-child(2){
           margin-top: 25%;
        }
       }



       .about-us__img--second{
        display: flex;
        gap:15px;

        :first-child
        {
            text-align: left !important;
            vertical-align: middle;

        }
        :nth-child(2){
            

          text-align: right !important;
          
        }
       }



    }
}





@media only screen and (max-width: 600px) 
{
    .about-us{
        flex-wrap: wrap;

        .about-us__info{
         width: 100%;
         .box-container{
            display: none;
         }
        }
        .about-us__img{
            display: none;
        }
    }
}