.cart-shopping{
    @include column-flex;
    gap:10px;
    width: 30%;
    &__img{
       
        img{
            border-radius: 5px;

        }
    }
    .title{
        font-size: .9rem;
        color: #2E7D32;
    }

    &__info{
        width: 100%;
       
        border-radius: 5px;
       
        .divider{
            background-color: $light-gray-color;
        }
       
    }
    .btn{
        color: $white-color;
        background-color: #388E3C;
        border-color: #558B2F;
        width: 100%;
        &:hover{
            background-color: #1B5E20;
            border-color: #2E7D32;
          }
        }

            
            &__icon{
                width: 100%;
                @include column-flex;
                border: 1px solid $light-gray-color;
                border-radius: 5px;
                @extend .p-30;
                .cart-shopping{
                    font-size: 5rem;
                    color:$light-gray-color ;
        
                }
                p{
                    color: Red;
                    font-size: .9rem;
                }
        
            }
      

}