.top-menu{
    background-color: #00000099;
    @extend .p-15;
    &__container{

        @include spacebetween-flex;
       
        &--right{
            @include right-flex;
            width: 30%;
            gap:20px;
        }
        &--center{
            
                @include center-flex;
                width: 30;
                h3{
                    color: $orange-color;
                }
                img{
                    height: 50px;
                }
           
        }
        &--left{
            @include left-flex;
            width:30%;
            gap:20px;
            li{
                @include flex-container;
                color: $white-color;
                a{
                    font-size: 15px;
                    color: $white-color;
                    @extend .pl-5;
                }
                
            }
        }
        a{

            color: $white-color;
            font-size: 20px;
            &:hover{
                color: $orange-color-hover
            }
        }
    }
}


@media only screen and (max-width: 768px) {
    .top-menu{
        display: none;
    }

}