.manager-pannel{

    @extend .p-30;
    &__menu{
        @include right-flex;
        @extend .p-15;
        li{
            @extend .p-15;
            border-left: 2px solid $light-gray-color;
            transition-duration: 400ms;
            a{

                color: $primary-color;
                &:hover{
                    color: $orange-color;
                }
            }
            &:hover{
                background-color: $light-gray-color;
                
            }
        }
        
    }

    .top-menu{
        background-color: $white-color;
        a{
            color: $orange-color;
        }
    }
    .header{
        background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
    }
}


