.food-box{
    @extend .box-shadow;
    @include column-flex;
    width: 30%;
    border-radius: 5px;
    visibility: visible;
    &--img{
        position: relative;
        img{
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }
        div{
            position: absolute;
            @include center-flex;
            @extend .p-10;
            background-color: $orange-color;
            color: $white-color;
            font-size: bold !important;
            bottom: -5%;
            left:0;
            border-radius: 5px;
        }
    }
    &--title{
        @include spacebetween-flex;
        @extend .p-15;
        color: $black-color !important;
    }
    &--icon{
        @include spacebetween-flex;
        gap:20px;
            li{
                @include center-flex;
                color: $orange-color;
                gap:4px;
                
                span{
                    border-right: 1px solid #dee2e6!important;
                    padding:0 1rem!important;
                    color: $primary-color;
                }
                .like-unlike{
                  color: $primary-color;
                }
            }
       
    }
    &--info{
        @extend .prl-30;
        @extend .text-justify

    }
    .btn{
        background-color: $darkblue-color;
       color: $white-color;
    }
   
}