.room-box{
    @extend .box-shadow;
    @include column-flex;
    width: 30%;
    border-radius: 5px;
    visibility: visible;
    .room-box--img{
        position: relative;
        img{
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }
        div{
            position: absolute;
            @include center-flex;
            @extend .p-10;
            background-color: $orange-color;
            color: $white-color;
            font-size: bold !important;
            bottom: -5%;
            left:0;
            border-radius: 5px;
        }
    }
    .room-box--title{
        @include spacebetween-flex;
        @extend .p-30;
        color: $black-color !important;
    }
    .room-box--icon{
        @include spacebetween-flex;
        gap:20px;
            li{
                @include center-flex;
                color: $orange-color;
                gap:4px;
                
                span{
                    border-right: 1px solid #dee2e6!important;
                    padding:0 1rem!important;
                    color: $primary-color;
                }
                .like-unlike{
                  color: $primary-color;
                }
            }
       
    }
    .room-box--info{
        @extend .p-30;
        @extend .text-justify

    }
    .btn{
        background-color: $darkblue-color;
       color: $white-color;
    }
   
}




@keyframes customEnterOverlayAnimation {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes customLeaveOverlayAnimation {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  
  @keyframes customEnterModalAnimation {
    0% {
      transform: scale(0.2);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes customLeaveModalAnimation {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0.2);
    }
  }


  .react-responsive-modal-root{
    position: fixed;

     top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              
              background-color: rgba(0,0,0,.7);
 
              
         
  }

  .customModal {

  

    
    position: absolute;
    top:200px;
    right:10px;
    bottom:200px;
    left:10px;
 
    width: 80vw;
    margin:0 auto !important;
    background: $white-color;

    overflow-y: auto;




  padding: 30px;


  }

  .react-responsive-modal-closeButton{
    display: none;
  }


.slick-next{
  right: 0 !important;
  z-index: 2;
}
.slick-prev{
  left: 0 !important;
  z-index: 2;
}