$primary-color:#666565;
$orange-color:#FEA116;
$orange-border-color:#FEA116;
$orange-color-hover:#FB8C00;
$orange-border-color-hover:#FB8C00;
$darkblue-color :#0F172B;
$white-color :#fff;
$light-gray-color:#dee2e6;
$black-color:#000;
$green-color:#388E3C;
$green-boarder-color:#558B2F;
$green-color-hover:#1B5E20;
$green-border-color-hover:#2E7D32;

.black-color{
    color: $black-color;
}
.orang-color{
    color: $orange-color !important;
}